{% extends "base.html" %}
{% load static %}


{% block content %}

<!-- start home-executive sec-->
<div class="home-executive bg-white ">
  <div class="container-fluid custom-container">
    <div class="d-flex justify-content-start align-items-center " style="padding: 20px 0px;gap: 10px;margin-top:1rem;">
      <img src="{% static 'images/home/arrow.svg' %}" itemprop="image" alt="icon" style="width: 24px;height: 24px;" />
      <h4 class="section-title" itemprop="title">
        في بيتنا خبير
      </h4>
    </div>
    <div class="row py-4 mb-2">
      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 mb-3">
        <div>
          <div class="card">
            <img src="{% static 'images/home/home1.jpg' %}" class="card-img-top" alt="image" itemprop="image">
            <div class="card-body">
              <h5 class="card-title">التأسيس</h5>
              <p class="card-text">
                من خلال خبراتنا كمؤسسين لبيت الخبراء اصبح
                لدينا الكثير من الاصدقاء و الزملاء و المعارف في
                جميع المجالات و بالتالي مهما كان مشروعك او
                هدفك سنبحث لك في بيتنا ما يلبي احتياجاتك او
                قد نستضيف لمشروعك خصيصا من يدعم طلبك
                و يلبي رغبتك.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 mb-3">
        <div>
          <div class="card">
            <img src="{% static 'images/home/home2.jpg' %}" class="card-img-top" alt="image" itemprop="image">
            <div class="card-body">
              <h5 class="card-title">الاهداف</h5>
              <p class="card-text">
                نحن نمنح خبراءنا الفرصة ليمارسوا شغفهم من
                خلال المشاركة بخبراتهم ونمنح عملاءنا الجودة
                و سرعة التنفيذ والنتيجة التي تحقق طموحاتهم
                و اهدافهم دون تعقيدات و مقدمات.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 mb-3">
        <div>
          <div class="card">
            <img src="{% static 'images/home/home3.jpg' %}" class="card-img-top" alt="image" itemprop="image">
            <div class="card-body">
              <h5 class="card-title">رؤيتنا</h5>
              <p class="card-text">
                هي المساهمة في صناعة مؤسسات وطنية تعمل
                بمفهوم الاستدامة و الاستمرارية ,تساهم بشكل مباشر
                في دعم ركائز الاقتصاد الوطني,من خلال تطبيق معايير
                العمل المؤسسي و اعادة الهيكلية و وضع قواعد متينة
                و بنية تحتية صلبة وذلك بتطبيق مجموعة من الخدمات
                و البرامج التي تجعل المنشأة لديها بيئة عمل جيدة
                و احترافية و خطة استراتيجية وهدف واحد و هو
                “<span>الحوكمة و الاستدامة</span> “

              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- end home-executive sec-->
{% endblock content %}