{% extends "base.html" %}
{% load static %}


{% block content %}
<!-- start work bg sec -->
<div class="workbg-sec">
  <div class="container-fluid p-0">
    <img src="{% static 'images/home/servicesbackground.png' %}" alt="image" itemprop="image" class="workbg-image" />
  </div>
</div>
<!-- end work bg sec -->
<!-- start services -->
<div class="services-sec services-sec-custom py-4">
  <div class="container-fluid custom-container">
    <div class="d-flex justify-content-start align-items-center " style="padding: 20px 0px;gap: 10px;">
      <img src="{% static 'images/home/arrow.svg' %}" itemprop="image" alt="icon" style="width: 24px;height: 24px;" />
      <h4 class="section-title" itemprop="title">
        خدماتنا
      </h4>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 my-3" style="text-align: start;">
        <img src="{% static 'images/home/services1.png' %}" alt="image" itemprop="image" class="services-sec-image" />
      </div>
      <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 my-3">
        <h5 class="services-sec-title" itemprop="title">
          صناعة قصص النجاح
        </h5>
        <p class="services-sec-description" itemprop="paragraph">
          عندما تصادفك عقبة او لديك فكرة و ربما تطمح لتطير معين في قطاع ما او على مستوى المنشأة
          فان<span>
            بيت الخبراء
          </span> يفتح ابوابه لأي تطوير او تغيير و يأخذ معك رحلة التغيير من البداية.
        </p>
        <p class="services-sec-description" itemprop="paragraph">
          ان كل عميل لبيت الخبراء الموحد هو ضيف يأخذ حقه بالكامل من الانصات و المناقشة حتى تتكون
          الفكرة بالكامل.
        </p>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 my-3">
        <h5 class="services-sec-title" itemprop="title">
          تحقيق الاستدامة
        </h5>
        <p class="services-sec-description" itemprop="paragraph">
          و لأن نكون بيت كل منشأة ترغب في اعادة ترتيب اوراقها و تتجه نحو عمل مؤسسي منظم من خلال تطبيق
          معايير الجودة و الحوكمة و التطوير الذي يتناسب مع التطلعات الوطنية و الدولية و التي تنقل المنشأت بمختلف
          تصنيفها سواءا الناشئة او المنشأت المتوسطة و الصغيرة لمستوى <span>أكثر استقرارا و ثباتا</span>.
        </p>

      </div>
      <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 my-3" style="text-align: start;">
        <img src="{% static 'images/home/services2.png' %}" alt="image" itemprop="image" class="services-sec-image" />
      </div>
    </div>
  </div>
</div>
<!-- end services -->
<!-- start specialties -->
<div class="specialties-services py-4">
  <div class="container-fluid custom-container">
    <h4 itemprop="title" class="specialties-services-title">
      التخصصات
    </h4>
    <p itemprop="title" class="specialties-services-des">
      لقد عمل خبراءنا في مجالات مختلفة و قطاعات ريادية و سنستعرض هنا جهات
      العمل التي انضم اليها خبراءنا خلال مسيرتهم المهنية
    </p>
    <div class="specialties-services-cards py-4 mt-4">
      <div class="row justify-content-center align-content-center py-2">
        <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 mb-3 text-center">
          <div>
            <img src="{% static 'images/Specialties/Asset 380.png' %}" alt="image" itemprop="image" />
            <p class="row-card-des">
              تطوير المنتجات
            </p>
          </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 mb-3 text-center">
          <div>
            <img src="{% static 'images/Specialties/Asset 390.png' %}" alt="image" itemprop="image" />
            <p class="row-card-des">
              تطوير الاعمال
            </p>
          </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 mb-3 text-center">
          <div>
            <img src="{% static 'images/Specialties/Asset 379.png' %}" alt="image" itemprop="image" />
            <p class="row-card-des">
              التطوير العقاري
            </p>
          </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 mb-3 text-center">
          <div>
            <img src="{% static 'images/Specialties/Asset 389.png' %}" alt="image" itemprop="image" />
            <p class="row-card-des">
              المساهمات العقارية
            </p>
          </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 mb-3 text-center">
          <div>
            <img src="{% static 'images/Specialties/Asset 378.png' %}" alt="image" itemprop="image" />
            <p class="row-card-des">
              ادارة الاملاك العقارية
            </p>
          </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 mb-3 text-center">
          <div>
            <img src="{% static 'images/Specialties/Asset 388.png' %}" alt="image" itemprop="image" />
            <p class="row-card-des">
              التمويل و الصكوك الاسلامية
            </p>
          </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 mb-3 text-center">
          <div>
            <img src="{% static 'images/Specialties/Asset 387.png' %}" alt="image" itemprop="image" />
            <p class="row-card-des">
              التقنية المالية
            </p>
          </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 mb-3 text-center">
          <div>
            <img src="{% static 'images/Specialties/Asset 377.png' %}" alt="image" itemprop="image" />
            <p class="row-card-des">
              الدراسات المالية
            </p>
          </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 mb-3 text-center">
          <div>
            <img src="{% static 'images/Specialties/Asset 386.png' %}" alt="image" itemprop="image" />
            <p class="row-card-des">
              الالتزام و ادارة المخاطر
            </p>
          </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 mb-3 text-center">
          <div>
            <img src="{% static 'images/Specialties/Asset 376.png' %}" alt="image" itemprop="image" />
            <p class="row-card-des">
              الحوكمة العائلية
            </p>
          </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 mb-3 text-center">
          <div>
            <img src="{% static 'images/Specialties/Asset 385.png' %}" alt="image" itemprop="image" />
            <p class="row-card-des">
              حوكمة الشركات
            </p>
          </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 mb-3 text-center">
          <div>
            <img src="{% static 'images/Specialties/Asset 384.png' %}" alt="image" itemprop="image" />
            <p class="row-card-des">
              التجارة الالكترونية
            </p>
          </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 mb-3 text-center">
          <div>
            <img src="{% static 'images/Specialties/Asset 375.png' %}" alt="image" itemprop="image" />
            <p class="row-card-des">
              استراتيجيات التسويق
            </p>
          </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 mb-3 text-center">
          <div>
            <img src="{% static 'images/Specialties/Asset 383.png' %}" alt="image" itemprop="image" />
            <p class="row-card-des">
              الهوية البصرية
            </p>
          </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 mb-3 text-center">
          <div>
            <img src="{% static 'images/Specialties/Asset 374.png' %}" alt="image" itemprop="image" />
            <p class="row-card-des">
              المواد الغذائية
            </p>
          </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 mb-3 text-center">
          <div>
            <img src="{% static 'images/Specialties/Asset 381.png' %}" alt="image" itemprop="image" />
            <p class="row-card-des">
              الجودة و تجربة العميل
            </p>
          </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 mb-3 text-center">
          <div>
            <img src="{% static 'images/Specialties/Asset 373.png' %}" alt="image" itemprop="image" />
            <p class="row-card-des">
              الضيافة و الفندقة و السياحة
            </p>
          </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 mb-3 text-center">
          <div>
            <img src="{% static 'images/Specialties/Asset 382.png' %}" alt="image" itemprop="image" />
            <p class="row-card-des">
              الموارد البشرية
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- end specialties -->
<!-- start services -->
<div class="services-sec features-sec-custom py-4">
  <div class="container-fluid custom-container">
    <div class="d-flex justify-content-start align-items-center " style="padding: 20px 0px;gap: 10px;">
      <img src="{% static 'images/home/arrow.svg' %}" itemprop="image" alt="icon" style="width: 24px;height: 24px;" />
      <h4 class="section-title" itemprop="title">
        بماذا نتميز
      </h4>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 my-3" style="text-align: start;">
        <img src="{% static 'images/home/features1.png' %}" alt="image" itemprop="image" class="services-sec-image" />
      </div>
      <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 my-3">
        <h5 class="services-sec-title" itemprop="title">
          ان الانفراد الذي اضفناه في بيت الخيراء الموحد
        </h5>
        <p class="services-sec-description" itemprop="paragraph">
          هي خدمة الاشراف الاستشاري لقد وضعنا انفسنا في صفك, و تابعنا العمل من مكانك لنتأكد من جودة
          الدراسات المقدمة لك, نناقشها نيابة عنك و نراجعها و نتأكد من دقتها و ماذا ينقصها لتكن واقعية
          وهل يمكن تطبيقها فعليا.
        </p>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 my-3 pt-4">
        <h5 class="services-sec-title" itemprop="title">
          خبراءنا يضعون حجر الاساس بعلمهم
        </h5>
        <p class="services-sec-description" itemprop="paragraph">
          ان التقارير الجميلة و البيانات الطموحة تحتاج لمن يقرأها بيعن الخبير و يتأكد فاعليتها . و لذلك خبراءنا يضعون
          حجر الاساس بعلمهم, يوثقون القواعد و الاركان بمعرفتهم و يراقبون البناء بخبراتهم.
          <span>
            حتى يكون لدينا صرحا من المعلومات يحمي اهدافنا
          </span>
        </p>

      </div>
      <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 my-3" style="text-align: start;">
        <img src="{% static 'images/home/features2.png' %}" alt="image" itemprop="image" class="services-sec-image" />
      </div>
    </div>
  </div>
</div>
<!-- end services -->

{% endblock content %}