{% load static %}
<!-- start social icon -->
<span class="social-nav">
  <nav class="social">
    <ul>
      <!-- <li>
        <a class="pr-1" href="#" title="facebook-link" target="">
          <img src="{% static 'images/social_nav/facebook-f.svg' %}" alt="facebook" title="facebook"
            style="width: 15px;height: 24px;" />
        </a>
      </li> -->
      <li>
        <a href="https://www.instagram.com/uhx_sa/" title="instgram-link" target="">
          <img src="{% static 'images/social_nav/instagram-filled.svg' %}" alt="instagram" title="instagram"
            style="width: 24px;height: 24px;">
        </a>
      </li>
      <li>
        <a href="#" title="twitter-link" target="">
          <img src="{% static 'images/social_nav/twitter-outlined.svg' %}" alt="twitter" title="twitter"
            style="width: 21px;height: 21px;">
        </a>
      </li>
      <!-- <li>
        <a href="#" title="snapchat-link" target="">
          <img src="{% static 'images/social_nav/snapchat-fill.svg' %}" alt="snapchat" title="snapchat"
            style="width: 24px;height: 24px;">
        </a> -->
      </li>
    </ul>
  </nav>
</span>
<!-- end social icon -->